<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vika.ggf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/perpusggf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/perpusggf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailResult" />
        <activity android:name=".ListBukuActivity" />
        <activity
            android:name=".MainActivityAdmin"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".masuk"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".splash" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>